.box{
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}