body{
    overflow: scroll;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    transition: 0.5s;
}
#canvasOne{
    margin: 0;
    position: relative;
    width: 100vw;
    display: block;
    margin: auto;
    background-color: black;
}
#container {
    position: absolute;
    top: 30px;
    left: 20px;
    height: fit-content;
    width: fit-content;
    color: white;
    background: transparent;
    font-size: large;
    font-weight: bold;
}
.switches{
    position: absolute;
    width: fit-content;
    top: 20px;
    right: 20px;
    background: transparent;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.splash{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #0947d5;
    z-index: 100;
    text-align: center;
    color: white;
    font-size: larger;
    padding-top: 10%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sticky {
    position: sticky;
    top: 0;
    width: 100vw;
}
#issMap {
    height: 40vh;
    width: 100vw;
}
footer {
    left: 0;
    height: fit-content;
    bottom: 0;
    width: 100%;
    background-color: #012148;
    color: white;
    text-align: left;
    overflow: hidden;
}